@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20 px 100px;
    display: flex;
    margin-top: 10px;
    margin-left: 1100px;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #242E49;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #242E49;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    
}

.formD {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.google {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    margin-top: 175px;
}
.g { color: #4285F4; }
.o { color: #EA4335; }
.o2 { color: #FBBC05; }
.g2 { color: #34A853; }

.googleA {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    margin-top: -200px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #4285F4;
    margin-left: 350px;
    margin-top: -30px;
}

.enter {
    border-radius: 20px;
    border:2px solid #242E49;
    font-size: 1rem;
    margin-top: -100px;
    width: 600px;
    height: 40px;
    padding: 0 15px;
    transition: box-shadow 0.3s ease;
}

.enter:hover {
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.buttonS {
    width: 65px;
    height: 40px;
    margin-left: 5px;
    margin-top: -100px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #242E49;
    padding: 0 5px 0 5px;
    transition: box-shadow 0.3s ease;
    font-size: 1rem;
    color: #B4182D;
}

.buttonS:hover {
    cursor:cell;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.formA {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 80px;
}

.enterA {
    border-radius: 20px;
    border:2px solid #242E49;
    font-size: 1rem;
    margin-top: -100px;
    width: 400px;
    height: 40px;
    padding: 0 15px;
    transition: box-shadow 0.3s ease;
}

.enter:hover {
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
